/* Estilos generales para la tabla */
.tabla-datos {
    width: 100%;
    border-collapse: collapse;
}
.tabla-datos th, .tabla-datos td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}
.tabla-datos th {
    background-color: #f2f2f2;
}
/* Estilos específicos para las celdas de la tabla */
.align-left {
    text-align: left;
}
.indicadores {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}
body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-image: url(fondo/2.jpg);
    background-size: cover;
}